@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 10px;
}

.Board {
  margin: 10px;
}

.game {
  display: flex;
  flex-direction: column;
}

.Square {
  width: 100px;
  height: 100px;
  border: 2px solid grey;
  margin-bottom: -1px;
  margin-right: -1px;
  float: left;
  font-size: 70px;
  font-weight: bold;
}

.Board-row {
  display: flex;
}

.status {
  display: flex;
  flex: 1;
  gap: 20px;
  padding-bottom: 20px;
  align-items: center;
  font-size: xx-large;
}

.btn {
  background-color: grey;
  width: 100px;
  height: 50px;
  font-size: large;

}